<%- include('../partials/header') %>

<h1>Cat Details</h1>
<section id="show-page">
    <div>Name: </div>
    <div><%= cats.name %></div>
    <div>Breed: </div>
    <div><%= cats.breed %></div>
    <div>Color: </div>
    <div><%= cats.color %></div>
    <div> Age: </div>
    <div><%= cats.age %></div>
    <a href="/cats/<%= cats._id %>/edit">Edit Cat</a>
</section>

<%- include('../partials/footer') %>